body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    background: #34495e;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background: #1abc9c;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

aside {
    flex: 1;
    padding: 20px;
    background: #ecf0f1;
    border-radius: 5px;
}

.content {
    flex: 2;
    padding: 20px;
}
h3{
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: #1abc9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #16a085;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}